services:
  postgres:
    image: postgres:latest
    container_name: postgres-db
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}  
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    networks:
      - netapi
    volumes:
      - postgre_vol:/var/lib/postgresql/data 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      dockerfile: Dockerfile
      context: .
    container_name: api
    env_file:
      - .env
    ports:
      - "8000:8000"
    environment:
      APP_CONFIG_DB_URL: postgresql+psycopg://user:password@postgres:5432/db_name
    networks:
      - netapi
    depends_on:
      - postgres
    


networks:
  netapi:

volumes:
  postgre_vol: